body {
    font-family: "Verdana", sans-serif;
    font-size: 13px;
    line-height: 150%;
    margin:0px;
    padding:8vh;
    background-color: darksalmon;
    text-align:left;
    text-transform: lowercase;
}
 h1{
    font-size: 14px;    
 }