@font-face {
    font-family: OpenDyslexic;
    src: url(OpenDyslexic-Regular.otf);
}
body {
    
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #FAFAC8;
    font-family: "Arial", sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:10px;
    width:100%;
}

/* Portrait layout (default) */

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

h1 {
/*    font-size:14px;*/
    font-weight:bold;
    letter-spacing: 2px;
    margin:0px;
/*    overflow:visible;*/
    padding:0px;
    text-align:center;
}

