body{
    background-color: darksalmon;
}
div {
    font-family: "Verdana", sans-serif;
    font-size: 12px;
    line-height: 150%;
    background-color: darksalmon;
    text-align:left;
    text-transform: lowercase;
}
 h1{
    font-size: 14px;    
 }