@import url(http://fonts.googleapis.com/css?family=Chelsea+Market);

@font-face {
    font-family: 'Chelsea Market', cursive !important;
}

html, body, div, p, h1, h2, h3, h4, h5, li, ul, ol, br, table, td, tr, a, span, list {
    
    border: none !important;
    border: 0 !important;
    background-color: yellow !important;
    color: black;
}   

div, p{
    margin: 5px !important;
    padding: 5px !important;
    font-family: 'Chelsea Market', cursive;
    font-size: 16px  !important;
    line-height: 200%  !important;
    background-color: yellow  !important;
    text-align:left  !important;
    text-transform: lowercase  !important;
    letter-spacing: 2px !important; 
    word-spacing: 3px !important;
    column-count: 1 !important;
    display: block !important;
}
div, p{
    clear: both !important;
}
h1, h2, h3, h4, h5 {
    font-weight: bold !important;
    font-size: 24px  !important;
    letter-spacing: 2px !important;
    word-spacing: 3px !important;
    text-align: center !important;
    text-align: center !important;
}

#header, #menu-bar, #sidebar, h2#postcomment, form#commentform, #footer {
	display: none !important;
}
img {
    max-height: 80% !important;
    max-width: 80% !important;
/*    display: block !important;*/
}
input {
    background-color: beige !important;
}

/* small screen portrait */
@media (min-width:320px){

    body{
        font-size: 60%;
    }
}

/* small screen landscape */
@media (min-width:480px){

    body{
        font-size: 60%;
    }
}
    

/* small tablet portrait */
@media (min-width:600px){

    body{
        font-size: 80%;
    }
}

/* tablet portrait*/
@media (min-width:768px){

    body{
        font-size: 100%;
    }
}

/* tablet landscape */
@media (min-width:1024px){

    body{
        font-size: 120%;
    }
}


