@import url(http://fonts.googleapis.com/css?family=Chelsea+Market);

@font-face {
    font-family: 'Chelsea Market', cursive;
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url(OpenDyslexic-Regular.otf);
}
body {
/*    font-family: 'Chelsea Market', cursive;*/
    font-family: 'OpenDyslexic';
    font-size: 14px;
    line-height: 150%;
/*
    margin:2px;
    padding:5px;
*/
    background-color: #FAFAC8;
    text-align:left;
    text-transform: lowercase;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    word-spacing: 4px;
    word-break: keep-all;
    font-style: normal;
    column-count: 1;
    
}
div, section, button {
    color: black;
    background-color: #FAFAC8;
}
h1 {
     font-size: 24px; 
     font-weight: bold;
     letter-spacing: 2px;
     word-spacing: 3px;
     
}
img {
    display: none;
}