@import url(http://fonts.googleapis.com/css?family=Andika);

@font-face {
<<<<<<< HEAD
    font-family: 'Andika', sans-serif;
=======
    font-family: OpenDyslexic;
    src: url(file:///android_asset/www/css/OpenDyslexic-Regular.otf);
>>>>>>> origin/master
}

body {
    font-family: OpenDyslexic;
    font-size: 14px;
    line-height: 140%;
    margin:0px;
    padding:12vh;
    background-color: azure;
    text-align:center;
    text-transform: lowercase;
}
 h1{
    font-size: 30px;    
 }