@import url(http://fonts.googleapis.com/css?family=Chelsea+Market);

@font-face {
    font-family: 'Chelsea Market', cursive !important;
}

html, body, div, p, h1, h2, h3, h4, h5, li, ul, ol, br, table, td, tr, a, span {
    margin: 2 !important;
    padding: 5 !important;
    border: none !important;
    border: 0 !important;
    background-color: yellow !important;
}   

body, div, p{
    font-family: 'Chelsea Market', cursive;
    font-size: 16px  !important;
    line-height: 200%  !important;
    background-color: yellow  !important;
    text-align:left  !important;
    text-transform: lowercase  !important;
}

/* cancella pure
div, p{
    font-family: 'Chelsea Market', cursive;
    font-size: 12px;
    line-height: 150%;
    background-color: yellow;
    text-align:left;
    text-transform: lowercase;
}

span, a, list{
    font-family: 'Chelsea Market', cursive;
    font-size: 12px;
    line-height: 150%;
    background-color: yellow;
    text-align:left;
    text-transform: lowercase;
}

a{
    text-decoration: underline;
}

h1, h2, h3, h4, h5{
    font-family: 'Chelsea Market', cursive;
    line-height: 150%;
    background-color: yellow;
    text-align:left;
    text-transform: lowercase;
}
*/

#header, #menu-bar, #sidebar, h2#postcomment, form#commentform, #footer {
	display: none !important;
}


/* small screen portrait */
@media (min-width:320px){

    body{
        font-size: 60%;
    }
}

/* small screen landscape */
@media (min-width:480px){

    body{
        font-size: 60%;
    }
}
    

/* small tablet portrait */
@media (min-width:600px){

    body{
        font-size: 80%;
    }
}

/* tablet portrait*/
@media (min-width:768px){

    body{
        font-size: 100%;
    }
}

/* tablet landscape */
@media (min-width:1024px){

    body{
        font-size: 120%;
    }
}


