@font-face {
    font-family: OpenDyslexic;
    src: url(OpenDyslexic-Regular.otf);
}
body {
    
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #FAFAC8;
    font-family: 'OpenDyslexic';
    height:100vh;
    margin:0px;
    padding:0px;
    width:100vw;
}

/* Portrait layout (default) */

h1 {
/*    font-size:14px;*/
    font-weight:bold;
    letter-spacing: 2px;
    margin: 0px;
/*    overflow:visible;*/
    padding:0px;
    text-align:center;
}

h3{
    font-size: 120%;
}
